@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

#app {
  animation: appear 400ms 500ms backwards;
}

@keyframes appear {
  from {
    scale: 2;
    opacity: 0;
  }
}